/*Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/*Custom CSS Variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color:#aa9581;
    --highlight-color: #416a8e;
    --light-higlight-color:#7a9fc2;
}

/*Global Styles*/

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}

h2 {
    margin-bottom: 2rem;
}

h1, h2 {
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*NavBar CSS*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/*Header CSS*/

#header .lead {
    font-family: var(--secondary-font);
}

/*Services*/

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/*Game Library New and Favourite Sections*/
#new-games .card, #fav-games .card {
    border: none;
}

#fav-games .card-body {
    text-align: left;
}

/*Testing Processes - Delete when testing is finished*/

/*.container .row {
    border: 2px solid black;
}
/*
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Media Queries*/

/*Medium Sized devices (768px and Up)*/
@media screen and (min-width: 768px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 191px;
    }
}

/*Larger devices (992px and Up)*/
@media screen and (min-width: 992px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: auto;
    }
}

/*XL Devices (1200px and Up)*/
@media screen and (min-width: 1200px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 220px;
    }
}

/*XXL Devices (1400px and Up)*/
@media screen and (min-width: 1400px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 195px;
    }
}