/*Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/*Custom CSS Variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color:#aa9581;
    --highlight-color: #416a8e;
    --light-higlight-color:#7a9fc2;
}

/*Global Styles*/

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}

h2 {
    margin-bottom: 2rem;
}

h1, h2 {
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Buttons CSS*/
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custom-button-outline:hover {
    border: 2px solid var(--highlight-color);
    color: white;
    background-color: var(--highlight-color);

}


/*NavBar CSS*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/*Header CSS*/

#header .lead {
    font-family: var(--secondary-font);
}

/*Services*/

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/*Events*/

.discount-offer {
    background-color: var(--highlight-color);
    color: white;
    font-weight: bold;
    padding: 4px;
}

/*Game Library New and Favourite Sections*/
#new-games .card, #fav-games .card {
    border: none;
}

#fav-games .card-body {
    text-align: left;
}

/*Reserve a Game Section*/

#reserve-form .reserve-form-btn{
    text-align: right;
}

/*Footer Contact Section*/

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-higlight-color);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--light-higlight-color);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/*Testing Processes - Delete when testing is finished*/

/*.container .row {
    border: 2px solid black;
}
/*
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Media Queries*/

@media screen and (min-width: 320px) {
    table {
        font-size: 0.7rem;
    }

    .discount-offer {
        font-size: 0.8rem;
    }
}


/*Medium Sized devices (768px and Up)*/
@media screen and (min-width: 768px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 191px;
    }
    table {
        font-size: 1rem;
    }

    .discount-offer {
        font-size: 1rem;
    }
    
}

/*Larger devices (992px and Up)*/
@media screen and (min-width: 992px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: auto;
    }
    table {
        font-size: 1rem;
    }

    .discount-offer {
        font-size: 1rem;
    }
}

/*XL Devices (1200px and Up)*/
@media screen and (min-width: 1200px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 220px;
    }
    table {
        font-size: 1rem;
    }

    .discount-offer {
        font-size: 1rem;
    }
}

/*XXL Devices (1400px and Up)*/
@media screen and (min-width: 1400px) {
    /*Makes all Service cards the same height for consistency*/
    #services .card-body {
        min-height: 195px;
    }
    table {
        font-size: 1rem;
    }

    .discount-offer {
        font-size: 1rem;
    }
}